<div class="chart--container">
  <form class="chart--card" [formGroup]="chartForm">
    <input type="text" placeholder="Name" formControlName="name">

    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select formControlName="type" (selectionChange)="OnSelect($event)">
        <mat-option *ngFor="let contentType of types" [value]="contentType">
          {{contentType}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <ng-container *ngIf="chartForm.value.type === 'Artist'">
      <ng-multiselect-dropdown 
      [placeholder]="'Contents'" 
      [data]="artists" 
      formControlName="contents"
      [settings]="artistSettings">
      </ng-multiselect-dropdown>
    </ng-container>

    
    <ng-container *ngIf="chartForm.value.type === 'Album'">
      <ng-multiselect-dropdown 
      [placeholder]="'Contents'" 
      [data]="albums" 
      formControlName="contents"
      [settings]="albumSettings">
      </ng-multiselect-dropdown>
    </ng-container>

    
    <ng-container *ngIf="chartForm.value.type == 'Piece'">
      <ng-multiselect-dropdown 
      [placeholder]="'Contents'" 
      [data]="pieces" 
      formControlName="contents"
      [settings]="pieceSettings">
      </ng-multiselect-dropdown>
    </ng-container>
    

    <textarea placeholder="Description" formControlName="description"></textarea>

    <div class="button--primary" (click)="Create()">
      <p>Create</p>
    </div>
  </form>
</div>