<div class="album--container">
    <form class="album--card" [formGroup]="albumForm">
      <input type="text" placeholder="Name" formControlName="name">

      <mat-form-field>
        <mat-label>Genre</mat-label>
        <mat-select formControlName="genre">
          <mat-option *ngFor="let genre of genres" [value]="genre">
            {{genre}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <ng-multiselect-dropdown 
    [placeholder]="'Pieces'" 
    [data]="pieces" 
    formControlName="pieces"
    [settings]="dropdownSettingsPieces">
    </ng-multiselect-dropdown>

    <ng-multiselect-dropdown 
    [placeholder]="'Collaborators'" 
    [data]="artists" 
    formControlName="collaborators"
    [settings]="dropdownSettings">
    </ng-multiselect-dropdown>

    <ng-multiselect-dropdown 
    [placeholder]="'Performer'" 
    [data]="artists" 
    formControlName="performer"
    [settings]="dropdownSettingsSingle">
    </ng-multiselect-dropdown>


      <div class="button--primary" (click)="Create()">
        <p>Create</p>
      </div>
    </form>
  </div>