<div class="home--container">
  <div class="home--poster">
    <div class="home--texts">
        <h1>The Musical Review App</h1>
        <p>Find Your <span>teist</span></p>
        <a href="landing#intro">Get Started</a>
    </div>
  </div>
  <div class="home--intro" id="intro">
    <div class="home--intro--item"><i class="fas fa-compact-disc"></i> <p>Your favorite songs</p></div>
    <div class="home--intro--item"><i class="fas fa-pen"></i><p>Review them</p></div>
    <div class="home--intro--item"><i class="fas fa-share-alt"></i><p>Share them</p></div>
  </div>
  <div class="home--auth">
      <div class="home--auth--button">
        Register Now!
      </div>
      <div class="home--auth--login">Already have an account? <a>Sign in</a></div>
  </div>
</div>

