* {
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%; //1rem = 10px, 10px/16px = 62.5%
}

body{
    font-family: 'Exo', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    background-image: linear-gradient(to top, #dc1619, #ef5a00, #fb8b00, #ffb800, #ffe502);
    background-size: cover;
    background-repeat: no-repeat;
}
/* Variables */
:root{
--color-primary: #dc1619;
--color-accent: #ffe502;
--color-light-green: #a9e5bb;
--color-light-blue: #d3fad6;
--color-banana: #f1e8b8;
}

$color-primary: #dc1619;
$color-accent: #ffe502;
$color-light-green: #a9e5bb;
$color-light-blue: #d3fad6;
$color-banana: #f1e8b8;

