<div class="piece--container">
  <form class="piece--card" [formGroup]="pieceForm">
    <input type="text" placeholder="Name" formControlName="name">

    <mat-form-field>
      <mat-label>Genre</mat-label>
      <mat-select formControlName="genre">
        <mat-option *ngFor="let genre of genres" [value]="genre">
          {{genre}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Piece Type</mat-label>
      <mat-select formControlName="pieceType">
        <mat-option *ngFor="let pieceType of pieceTypes" [value]="pieceType">
          {{pieceType}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <ng-multiselect-dropdown 
    [placeholder]="'Performer'" 
    [data]="artists" 
    formControlName="performer"
    [settings]="single">
    </ng-multiselect-dropdown>

    <div class="button--primary" (click)="Create()" *ngIf="!isEdit">
      <p>Create</p>
    </div>
    
    <div class="button--primary" (click)="UpdateEntity()" *ngIf="isEdit">
        <p>Update</p>
      </div>
  </form>
</div>