<div class="header--container">
  <a class="header--logo" [routerLink]="landing">Teist</a>
  <div class="header--links">
    <a class="header--link" [routerLink]="browse" *ngIf="isLoggedIn()">Browse</a>
    <a class="header--link" [routerLink]="account" *ngIf="isLoggedIn()">Account</a>
    <a class="header--link" [routerLink]="register" *ngIf="!isLoggedIn()">Register</a>
    <a class="header--link" [routerLink]="login" *ngIf="!isLoggedIn()">Log In</a>
    <a class="header--link header--account"></a>
  </div>
</div>