.header{
    &--container{
        display: flex;
        height: 8rem;
        background-color: var(--color-primary);
        color: white;
    }

    &--logo{
        text-decoration: none;
        color:white;
        letter-spacing: 3.5rem;
        text-transform: uppercase;
        margin: auto auto auto 4rem;
        font-size: 4.5rem;
        transition: all 0.3s;
        padding-left: 2rem;

        &:hover{
            cursor: pointer;
            letter-spacing: 5rem;
        }
    }

    &--links{
        margin: auto 2rem auto 0;
        font-size: 1.5rem;
    }

    &--link{
        text-transform: uppercase;
        margin: auto 2rem;
        text-decoration: none;
        color:white;
    }

}